In [1]:
import pandas as pd
from pathlib import Path
import numpy as np

In [2]:
# Setting path to budget_data.csv
csvpath = Path('../Starter_Code/PyBank/Resources/budget_data.csv') 
Finance_data =pd.read_csv (csvpath)
Finance_data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [3]:
# The total number of months included in the dataset

months = Finance_data['Date']
total_months = months.count()
print(total_months)

86

In [4]:
# The net total amount of Profit/Losses over the entire period

value_column = Finance_data['Profit/Losses']
print (value_column)
net_value = value_column.sum()
print (net_value)

0     867884
1     984655
2     322013
3     -69417
4     310503
       ...
81    102685
82    795914
83     60988
84    138230
85    671099
Name: Profit/Losses, Length: 86, dtype: int64
38382578

In [5]:
# The average of the changes in Profit/Losses over the entire period

average_change = value_column.diff().mean()
print (average_change)

-2315.1176470588234

In [9]:
# The greatest increase in profits (date and amount) over the entire period
diff_data = Finance_data['Profit/Losses'].diff()
greatest_increase_index = diff_data.max()
print (greatest_increase_index)

1926159.0

In [8]:
# The greatest decrease in losses (date and amount) over the entire period
diff_data = Finance_data['Profit/Losses'].diff()
greatest_decrease_index = diff_data.min()
print ( greatest_decrease_index)

-2196167.0

In [10]:
print('Financial Analysis')
print('Total months:', total_months)
print('Total: $',net_value)
print('Average Change:',average_change)
print('Greatest Increase in Profits:',greatest_increase_index)
print('Greatest Decrease in Profits:',greatest_decrease_index)

Financial Analysis
Total months: 86
Total: $ 38382578
Average Change: -2315.1176470588234
Greatest Increase in Profits: 1926159.0
Greatest Decrease in Profits: -2196167.0